pre{margin:0;padding:10px;font-family:Monaco,Consolas,monospace;font-size:12px;line-height:1.3em;word-wrap:break-word;white-space:pre;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-o-pre-wrap}
pre{color:#F8F8F8;background-color:#141414}
pre .linenum{width:75px;padding:0.1em 1em 0.2em 0;color:#888;background-color:#eee}
pre span{padding-top:0.2em;padding-bottom:0.1em}
pre ::selection{background-color:rgba(221,240,255,0.20)}
pre .comment{color:#5F5A60;font-style:italic}
pre .constant{color:#CF6A4C}
pre .entity{color:#9B703F}
pre .keyword{color:#CDA869}
pre .storage{color:#F9EE98}
pre .string{color:#8F9D6A}
pre .support{color:#9B859D}
pre .variable{color:#7587A6}
pre .invalid_deprecated{color:#D2A8A1;font-style:italic;text-decoration:underline}
pre .invalid_illegal{color:#F8F8F8;background-color:rgba(86,45,86,0.75)}
pre .text .source{background-color:rgba(176,179,186,0.08)}
pre .text_html_ruby .source{background-color:rgba(177,179,186,0.13)}
pre .entity_other_inherited-class{color:#9B5C2E;font-style:italic}
pre .string .source{color:#DAEFA3}
pre .string .constant{color:#DDF2A4}
pre .string_regexp{color:#E9C062}
pre .string_regexp .constant_character_escape,pre .string_regexp .source_ruby_embedded,pre .string_regexp .string_regexp_arbitrary-repitition{color:#CF7D34}
pre .string .variable{color:#8A9A95}
pre .support_function{color:#DAD085}
pre .support_constant{color:#CF6A4C}
pre .meta_preprocessor_c{color:#8996A8}
pre .meta_preprocessor_c .keyword{color:#AFC4DB}
pre .meta_tag_sgml_doctype,pre .meta_tag_sgml_doctype .entity,pre .meta_tag_sgml_doctype .string,pre .meta_tag_preprocessor_xml,pre .meta_tag_preprocessor_xml .entity,pre .meta_tag_preprocessor_xml .string{color:#494949}
pre .declaration_tag,pre .declaration_tag .entity,pre .meta_tag,pre .meta_tag .entity{color:#AC885B}
pre .declaration_tag_inline,pre .declaration_tag_inline .entity,pre .source .entity_name_tag,pre .source .entity_other_attribute-name,pre .meta_tag_inline,pre .meta_tag_inline .entity{color:#E0C589}
pre .meta_selector_css .entity_name_tag{color:#CDA869}
pre .meta_selector_css .entity_other_attribute-name_tag_pseudo-class{color:#8F9D6A}
pre .meta_selector_css .entity_other_attribute-name_id{color:#8B98AB}
pre .meta_selector_css .entity_other_attribute-name_class{color:#9B703F}
pre .support_type_property-name_css{color:#C5AF75}
pre .meta_property-group .support_constant_property-value_css,pre .meta_property-value .support_constant_property-value_css{color:#F9EE98}
pre .meta_preprocessor_at-rule .keyword_control_at-rule{color:#8693A5}
pre .meta_property-value .support_constant_named-color_css,pre .meta_property-value .constant{color:#CA7840}
pre .meta_constructor_argument_css{color:#8F9D6A}
pre .meta_diff,pre .meta_diff_header,pre .meta_separator{color:#F8F8F8;font-style:italic;background-color:#0E2231}
pre .markup_deleted{color:#F8F8F8;background-color:#420E09}
pre .markup_changed{color:#F8F8F8;background-color:#4A410D}
pre .markup_inserted{color:#F8F8F8;background-color:#253B22}
pre .markup_list{color:#F9EE98}
pre .markup_heading{color:#CF6A4C}
pre .markup_quote{color:#A89DA8}